 /**
 * 通用css样式布局处理
 * 
 */

 /** 基础通用 **/
 .h100{
	height: 100%;
}
.mg-b12{
	margin-bottom: 12px;
}
.mg-t12{
	margin-top: 12px;
}
.flex{
	display: flex;
	
}
.flex-column{
	display: flex;
	flex-direction: column;
}
.space-around{
	justify-content: space-around;
	
}
.space-between{
	justify-content: space-between;
}

