 /**
 * 通用css样式布局处理
 * 
 */

 /** 基础通用 **/
 .h100{
	height: 100%;
}
.mg-b12{
	margin-bottom: 12px;
}
.mg-t12{
	margin-top: 12px;
}
.flex{
	display: flex;
	
}
.flex-column{
	display: flex;
	flex-direction: column;
}
.space-around{
	justify-content: space-around;
	
}
.space-between{
	justify-content: space-between;
}
.cursor{
	cursor: pointer;
}
.mr-24{
	margin-right:24px
}

.el-dialog__body {
  max-height: calc(100vh - 300px);
  overflow: hidden;
  overflow-y: auto;
	padding: 12px 24px;
}