@import './reset.less';
@import './border.less';
@import './iconfont.css';
@import '//at.alicdn.com/t/font_3242344_zygilrtc1pn.css';

html {
  height: 100%;
  box-sizing: border-box;
  /*解决移动端点击延迟的问题*/
  touch-action: manipulation;
}
.clearbox {
  clear: both;
}
.clearbox::after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.h100{
  height: 100%;
}
